@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Fugaz+One&family=Montserrat:wght@100&family=Nunito:wght@200&display=swap");

/* COLOR */
$body-bg-color: hsl(30, 38%, 92%);
$content-bg-color: hsl(0, 0%, 100%);
$button-bg-color: hsl(158, 36%, 37%);

$head-color: hsl(228, 12%, 48%);
$h2-color: hsl(212, 21%, 14%);
$pricesell: hsl(158, 36%, 37%);

/* border */
$border-radius: 5px;

/* FONT-FAMILY */
$ff-header: "Montserrat", sans-serif;
$ff-h2: "Fraunces", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);

  article.card {
    max-width: 600px;
    max-height: 600px;
    display: flex;
    border-radius: $border-radius;
    justify-content: center;
    margin: 0px 10px;

    section.card-left {
      width: 50%;

      .perfume-desktop {
        width: 100%;
        height: 100%;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      .perfume-mobile {
        display: none;
      }
    }

    section.card-right {
      width: 50%;
      padding: 2rem;
      background-color: white;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card-right-header {
        > p {
          font-family: $ff-header;
          font-weight: 700;
          color: $head-color;
          letter-spacing: 5px;
        }

        .card-right-h1 {
          font-size: 2rem;
          margin-top: 20px;
          font-family: $ff-h2;
          color: $h2-color;
          font-family: $ff-h2;
        }
      }

      .card-right-p {
        font-family: $ff-header;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
      }

      .price {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .price-sell {
          margin-right: 20px;
          font-size: 2rem;
          color: $pricesell;
          font-family: $ff-h2;
        }

        .price-original {
          text-decoration: line-through;
          color: $head-color;
          font-family: $ff-header;
          font-weight: 700;
        }
      }

      button.button {
        margin-top: 20px;
        width: 100%;
        height: 45px;
        font-family: $ff-header;
        font-weight: 700;
        background-color: $button-bg-color;
        color: white;
        border: none;
        border-radius: $border-radius;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-image: linear-gradient(rgb(27, 64, 49) 0 0);
        }

        .button-name {
          margin-left: 10px;
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
}
