@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Fugaz+One&family=Montserrat:wght@100&family=Nunito:wght@200&display=swap");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css");
@import "mobile.scss";

/* COLOR */
$BODY-BG-COLOR: hsl(30, 38%, 92%);
$CONTENT-BG-COLOR: hsl(0, 0%, 100%);
$BUTTON-BG-COLOR: hsl(158, 36%, 37%);
$BUTTON-BG-ACTIVE-COLOR: hsla(158, 36%, 37%, 0.42);

$F-HEAD-COLOR: hsl(228, 12%, 48%);
$F-H2-COLOR: hsl(212, 21%, 14%);
$F-PRICESELL: hsl(158, 36%, 37%);

/* BORDER */
$BORDER-RADIUS: 5px;

/* FONT-FAMILY */
$FF-HEADER: "Montserrat", sans-serif;
$FF-H2: "Fraunces", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);

  article.card {
    max-width: 600px;
    max-height: 600px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    margin: 0px 10px;

    .card-left {
      width: 50%;
      background-image: url("./images/image-product-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .card-right {
      width: 50%;
      padding: 2rem;
      background-color: white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      .card-right-header {
        font-family: var(--FF-HEADER);
        color: var(--F-HEAD-COLOR);
        letter-spacing: 5px;
      }

      .card-right-h2 {
        margin-top: 20px;
        font-family: var(--FF-H2);
        color: var(--F-H2-COLOR);
        font-family: var(--FF-H2);
      }

      .card-right-p {
        font-family: var(--FF-HEADER);
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
      }

      .price {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .price-sell {
          font-size: 2.5rem;
          color: var(--F-PRICESELL);
          font-family: var(--FF-H2);
        }

        .price-original {
          margin-left: 20px;
          text-decoration: line-through;
          color: var(--F-HEAD-COLOR);
        }
      }

      .button {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: var(--BUTTON-BG-COLOR);
        color: white;
        border: none;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(--BUTTON-BG-COLORFADE);
        }

        .button-name {
          margin-left: 10px;
        }
      }
    }
  }
}
