@use "main";

@media screen and (max-width: 475px) {
  body {
    article.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 10px;

      section.card-left {
        min-width: 300px;

        img.perfume-mobile {
          display: block;
          width: 100%;
          border-top-left-radius: main.$border-radius;
          border-top-right-radius: main.$border-radius;
        }

        .perfume-desktop {
          display: none;
        }
      }

      section.card-right {
        min-width: 300px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: main.$border-radius;
        border-bottom-right-radius: main.$border-radius;
      }
    }
  }
}
